<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
   <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
  	<rewrite>
	  <rules>
		<rule name="Redirect to HTTPS">
			<match url="(photo/downloadAPI|shopping_cart/buyAPI|shopping_cart/index|shopping_cart/buy|site/getLoginChallenge|site/loginAPI|register|user/captcha*|login|site/ajaxLoginChallenge*|user/modify|user/ajaxSaveModify|user/remove|user/ajaxSaveShoppingUserDefault|user/savePhotoProfile|user/switchUser)" />
			<conditions>
				<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				<add input="{URL}" pattern="/$" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			</conditions>
			<action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="SeeOther" />
        </rule>
		<rule name="Redirect to HTTP">
			<match url="(paypal/*|shopping_cart/addRemove|shopping_cart/ajaxSaveOpt|photo/showInfoPhoto|photo/downloadAPI|shopping_cart/buyAPI|shopping_cart/index|shopping_cart/buy|user/deletePhotoProfile|site/getLoginChallenge|site/loginAPI|register|user/captcha*|user/fbCreate*|login|site/fbLogin*|site/ajaxLoginChallenge*|user/modify|user/ajaxSaveModify|user/remove|user/ajaxSaveShoppingUserDefault|user/savePhotoProfile|user/switchUser)" negate="true"/>
			<conditions>
				<add input="{HTTPS}" pattern="on" ignoreCase="true" />
				<add input="{URL}" pattern="/$" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			</conditions>
			<action type="Redirect" url="http://{SERVER_NAME}{URL}" redirectType="SeeOther" />
        </rule>
	    <rule name="Rule" stopProcessing="true">
			<match url="^(.*)$" ignoreCase="false" />
			<conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
				<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
			</conditions>
			<action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
	    </rule>
	  </rules>
	</rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <security>
	  <requestFiltering>
	    <requestLimits maxAllowedContentLength="314572800" />
	  </requestFiltering>
	</security>
  </system.webServer>
</configuration>